<div class="buscar">
    <form action="/search" method="GET">
        <input type="text" placeholder="Buscar" required name="query">
        <button type="submit" class="btn"><i class="fas fa-search"></i></button>
</form>

</div>

<!--inicio de header LOGO HAPPY CODING-->
<header>
<div class="logo">
    <a href="/"><img src="img/Logo-Icon/Logo-PNG1.png" class="logo"> </a>

    </div>
</header>