<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LUPA BARRA BUSQUEDA -->
    <script src="https://kit.fontawesome.com/2b2ce65092.js" crossorigin="anonymous"></script>
    <title>Happy Coding</title>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="/public/css/estilos.css">
</head>

<body>

<!--inicio de header LOGO HAPPY CODING-->

<div class="logo">
    <img src="/public/img/Logo-Icon/Logo-PNG1.png" class="logo"> 
    </div>

<!-- BARRA DE BUSQUEDA -->
<div class="buscar">
    <input type="text" placeholder="Buscar" required>
    <div class="btn">
        <i class="fas fa-search"></i>
    </div>
       </div>

<!-- SECCIONES, BOTONES Y CLASES. -->


<div>
<!-- Animacion Boton Get Started -->
    <div class="started">
        <div class="svg hide" id="svg"></div>
        <!-- GET STARTED & Button -->
    <div class='started button'>
        <a href="#" class="started-button">Get Started</a>
        </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js" integrity="sha512-V1YyTKZJrzJNhcKthpNAaohFXBnu5K9j7Qiz6gv1knFuf13TW/3vpgVVhJu9fvbdW8lb5J6czIhD4fWK2iHKXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        const svgContainer = document.getElementById('svg');
        const animItem = bodymovin.loadAnimation({
            wrapper: svgContainer,
            animType: 'svg',
            loop: true,
            autoplay: true,
            path: 'https://assets2.lottiefiles.com/packages/lf20_aRvNGV.json'
        });
    </script>
</div>

<!-- Animacion Tshirt. -->
<section>
    <div class="loader">
        <div class="lower ball"></div>
        <div class="lower1 ball"></div>
        <div class="lower2 ball"></div>
        <div class="lower3 ball"></div>
        <div class="lower4 ball"></div>
        <div class="upper ball"></div>
        <div class="upper1 ball"></div>
        <div class="upper2 ball"></div>
        <div class="upper3 ball"></div>
        <div class="left ball"></div>
        <div class="left1 ball"></div>
        <div class="left2 ball"></div>
        <div class="left3 ball"></div>
        <div class="left4 ball"></div>
        <div class="right ball"></div>
        <div class="right1 ball"></div>
        <div class="right2 ball"></div>
        <div class="right3 ball"></div>
        <div class="right4 ball"></div>
        <div class="sleeve1 ball"></div>
        <div class="sleeve2 ball"></div>
        <div class="sleeve3 ball"></div>
        <div class="sleeve4 ball"></div>
        <div class="sleeve5 ball"></div>
        <div class="zleeve1 ball"></div>
        <div class="zleeve2 ball"></div>
        <div class="zleeve3 ball"></div>
        <div class="zleeve4 ball"></div>
        <div class="zleeve5 ball"></div>
        
        
    </div>
</section>

<!-- inicio contenedor secciones -->
<div class="contenedor">

<!-- Tshirts Button -->
    <div class='elementoTshirts'>
        <a href="#" class="neon-button">T-Shirts</a>
        
        
        </div>

<!-- Funky Socks Container & Button  -->
    <div class="elementoSocks">
        <a href="#" class="neon1-button">Funky Socks</a>
        
        </div>

<!-- Hacker bags Container & Button -->
<div class='elementoBags'>
    <a href="#" class="neon2-button">Hacker Bags</a>
    
    </div>

<!-- Code Hoodies Container & Button  -->
<div class="elementoHoodies">
    <a href="#" class="neon3-button">Code Hoodies</a>
    
    </div>

<!-- Smart Hats Container & Button -->
<div class='elementoHats'>
    <a href="#" class="neon4-button">Smart Hats</a>
    
    </div>

</div> <!--fin DIV botones-->    
</div>

</body>

<p></p>
</html>

