<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <title>Document</title>

</head>

<body>

<!--inicio de header-->
    <header>
        <img src="img/Logo/Logo-PNG.png" class="logo"> 
        <div class="SeccioBotones">
            <input type="text" name="user" placeholder="¿Que articulo buscas?" class="busuqeda">
            <!-- <div class="espacio"></div> -->
                <!-- <div class="botones"> -->
                    <button href="#" class="boton"><a>Ofertas</a></button>
                    <button href="#" class="boton"><a>Registrarse</a></button>
                    <button href="#" class="boton">Ingresar</button>
                    <!-- <button href="#" class="boton"><a >Carrito</a></button> -->
                <!-- </div> -->
        </div>
    </header>

    <main class="ImagenesHome">

        <!-- inicio de la primera section TSHIRTS -->

        <section class="elemento1">
            <button><img src="img/Chaqueta/Chaqueta_Portada.jpg" alt="" class="chaqueta-portada"></button>
        </section>

        <!-- inicio de la segunda section MEDIAS -->

        <section class="elemento2">
            <img src="img/Socks/socks-Portada.jpg" alt="" class="socks-portada">
        </section>

         <!-- inicio de la tercera section MALETAS -->

         <section class="elemento3">
            <img src="img/Mochilas/Mochila_Portada.jpg" alt="" class="mochila-portada">
        </section>

        <!-- inicio de la cuarta section SUDADERAS -->

        <section class="elemento4">
            <img src="img/T-shirts/Camisa-portada.jpg" alt="" class="camisa-portada">
        </section>

        <!-- inicio de la quinta section GORRAS -->

        <section class="elemento5">
            <img src="img/Hats/gorra de portada.jpeg" alt="" class="gorra-portada">
        </section>
        
        

    </main>

    <!--Inicio del Footer-->

    <footer>
        <div class="contenedor">
            <div class="contenedor1"></div>
            <div class="espacioAbajo">
                <div class="contenedor2"></div>
                <div class="contenedor3"></div>
                <!-- <div class="contenedor4"></div> -->
        </div>
        </div>
    </footer>

    <section>
        <button class="prueba1"><a href="#">Ofertas</a></button>
        <button class="prueba2"><a href="#">Quienes Somos</a></button>
        <button class="prueba3"><a href="#">Ayuda</a></button>
        </div>
        <!-- <button class="prueba4"><a href="#">Registrarse</a></button>
        <button class="prueba5"> <a href="#">Ingresar</a></button>
        <button class="prueba6"><a href="#">Carrito</a></button> -->
    </section>
    
</body>
</html>