<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LUPA BARRA BUSQUEDA -->
    <script src="https://kit.fontawesome.com/2b2ce65092.js" crossorigin="anonymous"></script>
    <title>Happy Coding</title>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/estilos.css">

</head>


<!-- BARRA DE BUSQUEDA -->

<%- include('partials/header.ejs') %>
<!-- fin de header LOGO HAPPY CODING -->



<!-- SECCIONES, BOTONES Y CLASES. -->
<body>
    <!-- ANIMACIONES -->
<!-- <div>
    <video width="320"height="240" controls loop>
        <source src="/Animaciones/Saber.mp4">
        Your browser does not support the video tag.
    </video>
</div>
     -->


    <div class="contenedor">
<!-- Tshirts Container & Button -->
    <div class='elementoTshirts'>
        <a href="tshirts" class="neon-button">T-Shirts</a>
        </div>

<!-- Funky Socks Container & Button  -->
    <div class='elementoSocks'>
        <a href="socks" class="neon1-button">Funky Socks</a>
        </div>

<!-- Hacker bags Container & Button -->
<div class='elementoBags'>
    <a href="bags" class="neon2-button">Hacker Bags</a>
    
    </div>

<!-- Code Hoodies Container & Button  -->
<div class="elementoHoodies">
    <a href="hoodies" class="neon3-button">Code Hoodies</a>
    
    </div>

<!-- Smart Hats Container & Button -->
<div class='elementoHats'>
    <a href="hats" class="neon4-button">Smart Hats</a>
    
    </div>

</div>

</body>

<p></p>
</html>

