<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <title>Document</title>

</head>
<body>
<!--inicio de header-->
    <header>
        <img src="img/Logo/Logo-PNG.png"> 
        
        <p>100% Cotton </p>
        <p>--</p>

    </header>

    <main>

        <section>
            <h1 id="camisetaTittle">T-shirts -Style-</Style></h1>
            <article>
                <h2 class="camisetas">T-shirt (White) #FFFFFF</h2>
                <img src="/img/T-shirts/White-T-shirt.png" width="60%">
                <p>$15.50</p>
                <p>10%0ff</p>
                

            </article>

            <article>
                <h2 class="camisetas">T-shirt Grey</h2>
                <img src="/img/T-shirts/Camisa Gris.jpg">
                <p>$15.50</p>
                <p>10%0ff</p>
                
            </article>

            <article>
                <h2 class="camisetas">Camiseta Navy</h2>
                <img src="/img/Purple-T-shirt.png" width="60%">
                <p>$15.50</p>
                <p>10%0ff</p>
                
            </article>

            <article>
                <h2 class="camisetas">Black T-Shirt</h2>
                <img src="/img/T-shirts/Red-T-shirt.png">
                <p>$15.50</p>
                <p>10%0ff</p>
                
            </article>
            


        </section>

        <!-- inicio de la segunda section -->-->
        <section>

        </section>

    </main>

    <!--Inicio del Footer-->

    <footer>
        
    </footer>
    
</body>
</html>