/* FONDO, LETRA Y TAMANO BODY */
* {
  box-sizing: border-box;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  flex: 90%;
  max-width: 50%;
  margin-top: 0.3cm;
}


/* BARRA DE BUSQUEDA */
.buscar{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 48.5%;
}
.buscar input{
  display: flex;
  flex-wrap: wrap;
  width: 0px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  align-items: right;
  transition: all 1s ease;
}
.btn{
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(253, 232, 239);
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--clr-bg);
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.buscar:hover input{
  width: 240px;
}
.buscar input:focus{
  width: 240px;
}


/* BOTONES */

/* COLORES BOTONES */
:root {
  --clr-neon: rgb(255, 153, 20);
  --clr-bg: rgb(0, 0, 0);
  --clr-bl:rgb(75, 255, 20);
  --clr-bm:rgb(169, 20, 255);
  --clr-ba:rgb(20, 63, 255);
  --clr-br:rgb(255, 20, 59);
  --clr-bs:rgb(231, 255, 20);
}

/* ANIMACIONES GET STARTED */

.svg { 
  display: flex;
  flex-wrap: wrap;
  width: 130px;;
  position: relative;
  margin-top: -10%;
  margin-left: 85%;
  pointer-events: none;
}

/* BOTON GET STARTED */
.started-button {
  font-size: 0.8rem;
  flex-wrap: wrap;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-bs);
  border: var(--clr-bs) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-bs), 0 0 0.5em 0 var(--clr-bs);

  position: relative;
  top: 13%;
  right: -86%;
  
}

.started-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-bs);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.started-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-bs);
  opacity: 0;
  background-color: var(--clr-bs);
  z-index: -1;
  transition: opacity 100ms linear;
}

.started-button:hover,
.started-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.started-button:hover::before,
.started-button:focus::before {
  opacity: 1;
}
.started-button:hover::after,
.started-button:focus::after {
  opacity: 1;
}


/* Animacion TShirts */



/* Fin Animacion TShirts */

/* CONTAINER BODY */
body {
  
  background: var(--clr-bg);
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  
}
.contenedor{
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  align-items: center;
  justify-content: center;
}
/* ----- */


/* BOTON T-SHIRTS */
.neon-button {
  font-size: 1.91rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}




/* BOTON FUNKY SOCKS */
.neon1-button {
  font-size: 1.91rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-bl);
  border: var(--clr-bl) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-bl), 0 0 0.5em 0 var(--clr-bl);
  position: relative;
}

.neon1-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-bl);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon1-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-bl);
  opacity: 0;
  background-color: var(--clr-bl);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon1-button:hover,
.neon1-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon1-button:hover::before,
.neon1-button:focus::before {
  opacity: 1;
}
.neon1-button:hover::after,
.neon1-button:focus::after {
  opacity: 1;
}


/* BOTON HACKER BAGS */
.neon2-button {
  font-size: 1.91rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-bm);
  border: var(--clr-bm) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-bm), 0 0 0.5em 0 var(--clr-bm);
  position: relative;
}

.neon2-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-bm);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon2-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-bm);
  opacity: 0;
  background-color: var(--clr-bm);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon2-button:hover,
.neon2-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon2-button:hover::before,
.neon2-button:focus::before {
  opacity: 1;
}
.neon2-button:hover::after,
.neon2-button:focus::after {
  opacity: 1;
}

/* BOTON CODE HODDIES */
.neon3-button {
  font-size: 1.91rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-ba);
  border: var(--clr-ba) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-ba), 0 0 0.5em 0 var(--clr-ba);
  position: relative;
}

.neon3-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-ba);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon3-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-ba);
  opacity: 0;
  background-color: var(--clr-ba);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon3-button:hover,
.neon3-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon3-button:hover::before,
.neon3-button:focus::before {
  opacity: 1;
}
.neon3-button:hover::after,
.neon3-button:focus::after {
  opacity: 1;
}

/* BOTON SMART HATS */
.neon4-button {
  font-size: 1.91rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-br);
  border: var(--clr-br) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-br), 0 0 0.5em 0 var(--clr-br);
  position: relative;
}

.neon4-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-br);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon4-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-br);
  opacity: 0;
  background-color: var(--clr-br);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon4-button:hover,
.neon4-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon4-button:hover::before,
.neon4-button:focus::before {
  opacity: 1;
}
.neon4-button:hover::after,
.neon4-button:focus::after {
  opacity: 1;
}



/* ***************************************************************************** */

/* CSS TSHIRTS */

